.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: auto;
}

svg {
  width: 40vw;
  height: 70vh;
}

#swing {
  animation: swing 2s infinite linear;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes swing {
  0% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}
